@use "src/styles/vars.scss" as vars;

.container {
  background-color: vars.$white;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .header {
    color: vars.$navy;
  }

  .playerCard {
    padding: 0.5rem;
    padding-right: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 1rem;
    background: linear-gradient(97deg, #1e2948 30.81%, #2a3a65 127.93%);
    color: vars.$white;
    align-items: center;

    .playerInfo {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;
    }

    &.empty {
      opacity: 0.8;
      background: none;
      background-color: transparent;
      border: 2px solid #c5c5c5;
      color: vars.$navy;
    }
  }
}
