@use "src/styles/vars.scss" as vars;

.container {
  margin: 2rem;
  color: vars.$white;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .steps {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .start {
    background-color: vars.$yellow;
    color: vars.$navy;
    border-radius: 1rem;
    padding: 1rem;

    // copy and pasted the animation
    transition: 0.3s all;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: fit-content;

    &:hover {
      transform: scale(1.1);
      font-weight: 500;
    }
  }
}
