@use "src/styles/vars.scss" as vars;

.page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .timer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6.5rem;
    border: 0.25rem solid vars.$white;
    aspect-ratio: 1;
    padding: 1rem;
    border-radius: 100%;
    background-color: vars.$red;
  }
}

.back {
  padding: 0.5rem 1rem;
  border: 1px solid vars.$white;
  border-radius: 1rem;
  width: fit-content;
  background-color: vars.$navy;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.1);
  }
}
