.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;

  .options {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .option {
      transition: 0.3s all;
      text-align: left;
      display: flex;
      flex-direction: column;

      &:hover {
        transform: scale(1.1);
        transform-origin: left;
        font-weight: 500;
      }

      .joinLabel {
        margin: 0.25rem;

        .joinInput {
          background: 0;
          border: 0;
          border-bottom: 1px solid white;
          margin-left: 0.25rem;

          &:focus {
            outline: 0;
          }
        }
      }
    }
  }
}
