@use "src/styles/vars.scss" as vars;

.page {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.back {
    padding: 0.5rem 1rem;
    border: 1px solid vars.$white;
    border-radius: 1rem;
    width: fit-content;
    background-color: vars.$navy;
    transition: all 0.3s;
  
    &:hover {
      transform: scale(1.1)
    }
  }