@use "src/styles/vars.scss" as vars;

.container {
    display: grid;
    grid-template-columns: 35% auto;

    .getRatingsButton {
        all: unset;
        padding: 1rem 1.5rem;
        white-space: nowrap;
        font-weight: bold;
        font-size: 1.5rem;
        color: vars.$navy;
        border-radius: 0.5rem;
        background-color: vars.$yellow;
        margin-right: 700px;
    }

    .tabNav {
        background-color: vars.$white;
        padding: 0.8rem;
        border-radius: 1rem;
    }

    .tabContent {
        margin: 1.5rem;
    }

    .playAgain {
        margin-top: 1rem;
        color: vars.$yellow;

        transition: 0.3s all;
        text-align: left;
        display: flex;
        flex-direction: column;
        width: 15rem;

        &:hover {
            transform: scale(1.1);
            transform-origin: left;
            font-weight: 500;
        }
    }
}

@media (max-width: vars.$breakpoint) {
    .container {
        display: block;

        .getRatingsButton {
            width: 100px;
            margin-right: auto;
        }
    }
}